global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'transcode'
    static_configs:
      - targets: ['transcode:9464']
    metrics_path: '/metrics'
